 /* for mobile */
@media (max-width: 767px)
body {
    padding-right: 5px;
    padding-left: 5px;
}

.device
{
	border: 1px solid #C9E0ED;
    padding: 5px;
    margin-top: 2px;
}

.device .device_name
{
    float: left;
}

.device .device_location
{
    float: right;
}

.device .device_rest_values
{
    display: none;
}

.device .debug
{
    display: none;
}

